.headerContainer {
  /* mq */
  background-image: url(../src/images//bg-hero-desktop.svg);
  background-color: var(--pale-cyan);
  height: 500px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 60px 50px;
}

.header {
  display: flex;
  gap: 30px;
  padding-inline: 50px;
}
